## 둔산대로 한아름아파트삼거리→갑천네거리 8/31 ~ 9/4 -> 9/7

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False    # minus 표시
mpl.rc('font', family='Malgun Gothic')
%matplotlib inline

In [2]:
df = pd.read_csv("C:/Users/8/Desktop/프로젝트/dunsan_example.csv",encoding='CP949')

In [3]:
df2 = pd.read_csv("C:/Users/8/Desktop/프로젝트/predict.csv",encoding='CP949')

In [4]:
df.drop('도로', axis=1, inplace=True)
df.drop('요일', axis=1, inplace=True)
df.drop('방향', axis=1, inplace=True)
df.drop('구간', axis=1, inplace=True)
df2.drop('도로', axis=1, inplace=True)
df2.drop('요일', axis=1, inplace=True)
df2.drop('방향', axis=1, inplace=True)
df2.drop('구간', axis=1, inplace=True)

In [5]:
df = df.dropna()
df2 = df2.dropna()

In [6]:
aa = df2.loc[:,['6:00', '6:05', '6:10', '6:15', '6:20']]
aa

   6:00  6:05  6:10  6:15  6:20
1  21.0  22.6  19.4  23.0  18.8

In [7]:
aa = aa.values.tolist()
aa

[[21.0, 22.6, 19.4, 23.0, 18.8]]

In [8]:
a = []
for i in range(len(aa[0])):
    a.append(aa[0][i])

a

[21.0, 22.6, 19.4, 23.0, 18.8]

In [9]:
b = df.loc[:,list(df)[1:]]
b = b.values.tolist()

In [10]:
real_d = []
c = []
for i in range(len(b)):
    for j in range(0,20):
        d = []
        c.append([b[i][j],b[i][j+1],b[i][j+2],b[i][j+3],b[i][j+4]])
        d1 = pow((b[i][j]-a[0]),2)+pow((b[i][j+1]-a[1]),2)+pow((b[i][j+2]-a[2]),2)+pow((b[i][j+3]-a[3]),2)+pow((b[i][j+4]-a[4]),2)
        d.append(round(d1,2))
#         print(d)
        d2 = sum(d)
#         print(d2)
        real_d.append(d2)

print(real_d)
print(c)

[15.91, 52.94, 12.03, 58.42, 13.79, 37.54, 24.19, 17.31, 34.75, 37.43, 33.79, 81.82, 89.97, 76.49, 95.2, 100.76, 70.21, 75.42, 135.7, 133.74, 48.14, 26.1, 13.18, 35.18, 57.57, 98.33, 102.37, 150.82, 162.15, 119.44, 118.44, 106.96, 50.16, 48.19, 85.82, 177.06, 286.77, 289.24, 287.28, 289.36, 724.62, 715.74, 649.65, 589.46, 554.15, 492.18, 464.03, 412.71, 327.46, 305.41, 279.41, 275.32, 303.93, 306.22, 300.18, 253.11, 206.32, 180.48, 135.15, 89.8, 920.13, 885.69, 829.1, 794.55, 696.63, 656.07, 642.67, 586.47, 527.02, 510.58, 449.66, 364.74, 354.14, 355.38, 262.54, 224.31, 182.79, 99.39, 51.68, 43.27, 38.84, 42.81, 22.73, 21.7, 29.02, 41.95, 38.27, 65.2, 82.24, 48.84, 72.8, 53.92, 32.43, 19.9, 36.95, 35.59, 87.03, 56.83, 116.6, 164.43]
[[18.1, 20.2, 18.9, 22.0, 18.1], [20.2, 18.9, 22.0, 18.1, 21.6], [18.9, 22.0, 18.1, 21.6, 20.7], [22.0, 18.1, 21.6, 20.7, 24.0], [18.1, 21.6, 20.7, 24.0, 20.1], [21.6, 20.7, 24.0, 20.1, 20.8], [20.7, 24.0, 20.1, 20.8, 22.9], [24.0, 20.1, 20.8, 22.9, 19.1], [20.1, 20.8, 22.9, 19.1, 17.0], [20.8, 22.9, 19.1, 17.0, 19.9], [22.9, 19.1, 17.0, 19.9, 17.2], [19.1, 17.0, 19.9, 17.2, 15.2], [17.0, 19.9, 17.2, 15.2, 17.8], [19.9, 17.2, 15.2, 17.8, 20.0], [17.2, 15.2, 17.8, 20.0, 22.6], [15.2, 17.8, 20.0, 22.6, 25.4], [17.8, 20.0, 22.6, 25.4, 24.9], [20.0, 22.6, 25.4, 24.9, 24.7], [22.6, 25.4, 24.9, 24.7, 28.4], [25.4, 24.9, 24.7, 28.4, 26.0], [16.3, 19.2, 19.6, 19.9, 21.0], [19.2, 19.6, 19.9, 21.0, 21.9], [19.6, 19.9, 21.0, 21.9, 18.4], [19.9, 21.0, 21.9, 18.4, 16.8], [21.0, 21.9, 18.4, 16.8, 14.6], [21.9, 18.4, 16.8, 14.6, 17.2], [18.4, 16.8, 14.6, 17.2, 16.5], [16.8, 14.6, 17.2, 16.5, 14.1], [14.6, 17.2, 16.5, 14.1, 16.7], [17.2, 16.5, 14.1, 16.7, 18.7], [16.5, 14.1, 16.7, 18.7, 19.2], [14.1, 16.7, 18.7, 19.2, 21.9], [16.7, 18.7, 19.2, 21.9, 22.7], [18.7, 19.2, 21.9, 22.7, 23.8], [19.2, 21.9, 22.7, 23.8, 27.2], [21.9, 22.7, 23.8, 27.2, 30.6], [22.7, 23.8, 27.2, 30.6, 31.6], [23.8, 27.2, 30.6, 31.6, 26.6], [27.2, 30.6, 31.6, 26.6, 23.6], [30.6, 31.6, 26.6, 23.6, 26.8], [9.8, 8.9, 7.8, 9.2, 9.5], [8.9, 7.8, 9.2, 9.5, 10.8], [7.8, 9.2, 9.5, 10.8, 11.8], [9.2, 9.5, 10.8, 11.8, 9.9], [9.5, 10.8, 11.8, 9.9, 11.5], [10.8, 11.8, 9.9, 11.5, 11.8], [11.8, 9.9, 11.5, 11.8, 13.3], [9.9, 11.5, 11.8, 13.3, 15.0], [11.5, 11.8, 13.3, 15.0, 14.4], [11.8, 13.3, 15.0, 14.4, 12.4], [13.3, 15.0, 14.4, 12.4, 13.8], [15.0, 14.4, 12.4, 13.8, 12.6], [14.4, 12.4, 13.8, 12.6, 14.7], [12.4, 13.8, 12.6, 14.7, 12.5], [13.8, 12.6, 14.7, 12.5, 14.8], [12.6, 14.7, 12.5, 14.8, 16.5], [14.7, 12.5, 14.8, 16.5, 17.7], [12.5, 14.8, 16.5, 17.7, 15.5], [14.8, 16.5, 17.7, 15.5, 18.2], [16.5, 17.7, 15.5, 18.2, 16.1], [8.0, 7.0, 8.2, 6.7, 8.0], [7.0, 8.2, 6.7, 8.0, 9.0], [8.2, 6.7, 8.0, 9.0, 9.5], [6.7, 8.0, 9.0, 9.5, 9.5], [8.0, 9.0, 9.5, 9.5, 10.9], [9.0, 9.5, 9.5, 10.9, 9.0], [9.5, 9.5, 10.9, 9.0, 10.4], [9.5, 10.9, 9.0, 10.4, 11.7], [10.9, 9.0, 10.4, 11.7, 13.2], [9.0, 10.4, 11.7, 13.2, 10.9], [10.4, 11.7, 13.2, 10.9, 13.0], [11.7, 13.2, 10.9, 13.0, 14.6], [13.2, 10.9, 13.0, 14.6, 12.1], [10.9, 13.0, 14.6, 12.1, 14.4], [13.0, 14.6, 12.1, 14.4, 16.1], [14.6, 12.1, 14.4, 16.1, 18.1], [12.1, 14.4, 16.1, 18.1, 20.0], [14.4, 16.1, 18.1, 20.0, 20.5], [16.1, 18.1, 20.0, 20.5, 19.7], [18.1, 20.0, 20.5, 19.7, 22.8], [17.8, 18.6, 19.2, 19.6, 19.8], [18.6, 19.2, 19.6, 19.8, 22.7], [19.2, 19.6, 19.8, 22.7, 22.0], [19.6, 19.8, 22.7, 22.0, 18.9], [19.8, 22.7, 22.0, 18.9, 16.8], [22.7, 22.0, 18.9, 16.8, 18.9], [22.0, 18.9, 16.8, 18.9, 18.7], [18.9, 16.8, 18.9, 18.7, 15.9], [16.8, 18.9, 18.7, 15.9, 18.9], [18.9, 18.7, 15.9, 18.9, 18.4], [18.7, 15.9, 18.9, 18.4, 19.9], [15.9, 18.9, 18.4, 19.9, 20.7], [18.9, 18.4, 19.9, 20.7, 21.0], [18.4, 19.9, 20.7, 21.0, 18.4], [19.9, 20.7, 21.0, 18.4, 21.7], [20.7, 21.0, 18.4, 21.7, 24.3], [21.0, 18.4, 21.7, 24.3, 26.7], [18.4, 21.7, 24.3, 26.7, 22.2], [21.7, 24.3, 26.7, 22.2, 26.5], [24.3, 26.7, 22.2, 26.5, 29.6]]

In [13]:
def find_min(list):
    if k % 2 == 0:
        print('홀수 k를 입력하세요')
    else:
        for j in range(k):
            i = list.index(min(list))
            m = list.pop(i)
            print(c.index(i))
            print('k=',k,'일 때',j+1,'번째 최솟값 =', m)
    return m

In [14]:
k = int(input('k ='))
find_min(real_d)

k =3

ValueError: 21 is not in list

In [15]:
vv = [[18.4, 21.7, 24.3, 26.7, 22.2], [21.7, 24.3, 26.7, 22.2, 26.5], [24.3, 26.7, 22.2, 26.5, 29.6]]

In [17]:
vv.index(cc(3))

NameError: name 'cc' is not defined